* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #c93838;
    background: plum;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class *="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.header {
    background-color: plum;
}

#menu ul {
    height: 70px;
    padding: 10px;
    border: 5px;
    margin: 30px;
}

#menu ul, li {
    list-style-type: none;
    display: inline;
    margin: 30px;
}

.menu li {
    margin: 10px;
    padding: 5px;
    position: relative;
    float: left;
    list-style: none;
    display: inline-block;
}

.menu li a {
    width: 130px;
    height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: blueviolet;
    line-height: 10px;
}

ul li a {
    width: 120px;
    text-align: left;
    color: #494848;
    padding-left: 10px;
}

li a {
    color: #494848;
}

li a:hover {
    color: pink;
}

img {
    width: 390px;
    height: 250px;
    border-radius: 15px;
}
